<p id="notice">
    <%= notice %>
</p>

<div class="cart-container">
    <h4>Your Cart</h4>


    <ul class="cart-item-container">
        <% @cart.line_items.each do |item| %>
            <li class="cart-item">
                <%= image_tag item.store.images.first %>
                    <div class="product-details">
                        <p>Product : <%= item.store.title %>
                        </p>
                        <p>Qty : <%= item.quantity %>
                        </p>
                        <p>Price : ₹<%= item.store.price%>
                        </p>
                    </div>
            </li>
            <% end %>
                <strong>Total Price : ₹<%= @cart.total_price %></strong>
    </ul>



    <br />
    <div class="btn-container">
        <%= button_to 'Empty cart' , @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
            <button>
                <%= link_to "Checkout" , gallery_checkout_path %>
            </button>
    </div>
    <br />

</div>